*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #212121;

}

.box{
    background-color: aqua;
    text-align: center;
    padding: 40px;
    box-shadow: 2px 2px 30px  pink;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 45rem;
    border-radius: 10px;
    height: 60vh;
}

.btns{
    margin-top: 40px;

}

h1{
    font-size: 2.5rem;
    text-decoration: underline blue;
}

.heading{
    margin-bottom: 20px;
}

.main-body{
    font-size: 2rem;
}

.newq,.twit{
    padding: 10px;
    font-family: 'Times New Roman', Times, serif;
    border-radius: 9px;
    border: none;
    font-size: 1.3rem;
    cursor: pointer;
    margin-right: 20px ;
    margin-left: 20px;
    background-color: orange;
    color: whitesmoke;
}

.newq:hover,.twit:hover{
    
    color: black;
    background-color: white;
}

span{
    font-size: 1.3rem;
    text-decoration: underline blue;
}
